body{
    font-family: sans-serif;
}

.game_field{
    margin: 0 auto;
    width: auto;
    border: 1px solid #333333;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    visibility: hidden;
}

.game_field-item{
    display: inline-block;
    outline: 1px solid #333333;
    background-color: #666666;
}

.game_field .chip{
    border-radius: 50%;
    position: absolute;
    background: #333333;
    top: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    line-height: 200%;
    z-index: 1;
    transition: top 300ms linear, left 300ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_field-item.start{
    background-color: #517d8a;
}
.game_field-item.finish{
    background-color: #8a2437;
}
.game_field-item.road{
    background-color: #86a0dd;
}

.numSteps{
    background: #ffffff;
    color: #000000;
    align-self: center;
    text-align: center;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.controlls{
    display: flex;
    flex-direction: column;
    width: 200px;
    position: fixed;
    top: 10px;
    left: 10px;
    justify-content: center;
    z-index: 1000;
}

.controlls > *{
    margin: 5px;
}
.controlls > button{
    padding: 5px;
    font-size: 1.1em;
}
